body {
    font: 15px/26px "OpenSans-Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}


.filter-block {
    background-color: #eef2f4;
    padding: 20px;
    color: #535c69;
    border-radius: 5px;
}

.filter-block-time {
    margin-bottom: 20px;
}

.time__period {
    display: flex;
    text-transform: uppercase;
    font: 15px/26px "OpenSans-Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.time__period-inputs {
    display: flex;
}

.time__period-text {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.time__period-item {
    margin-right: 15px;
}

.user-button {
    background: #bbed21;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #535c69;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    margin: 0 12px 0 0;
    border-radius: 2px;
    cursor: pointer;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    outline: 0;
    padding: 0 18px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s linear,color .2s linear;
    transition: background-color .2s linear,color .2s linear;
}

.time-list {
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-img {
    width: 50px;
    border-radius: 25px;
}

.user-avatar {
    margin-right: 20px;
}

.list {
    font-size: 13px;
    /*width: 800px;*/
    border-collapse: collapse;
}

.list td, .list th{
    border: 1px solid #ddd;
    padding: 3px 5px;
}

.time-list {

}

.table-body {
    text-align: center;
}

.left-align {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.right-align {
    text-align: right;
}

.user-time-list {
    padding: 20px;
    border: 1px solid #eef2f4;
    border-radius: 5px;
    margin-top: 20px;
}

.user-tasks td:first-child, .head-table .head-2{
    width: 150px;
}

.user-tasks td:nth-child(2), .head-table .head-2{
    width: 150px;
}

.user-tasks td:nth-child(3), .head-table .head-4{
    width: 500px;
}

.user-tasks td:nth-child(4), .head-table .head-5 {
    width: 15%;
}

.user-tasks td:nth-child(5), .head-table .head-6 {
    width: 15%;
}

.user-day {
    border: 2px solid #bcc3c7;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 0;
    margin-bottom: -2px;
    width: 100px;
    text-align: center;
}

.user-days {
    display: flex;
}

.list {
    border: 2px solid #bcc3c7;
    margin-bottom: -2px;
}

.all-time {
    border-top: 2px solid #bcc3c7;
    border-bottom: 2px solid #bcc3c7;
}

.head-table {
    border-collapse: collapse;
    display: flex;
    width: 100%;
    font-weight: bold;
}

.head-table .head {
    display: table-cell;
    border: 2px solid #bcc3c7;
    padding: 5px;
    text-align: center;
}

.head-table th {
    border: 2px solid #bcc3c7;
}

.head-1 {
    width: 100px;
    border: 2px solid #bcc3c7;
    padding: 5px;
    text-align: center;
    border-right: 0;
    border-bottom: 0;
}

.head-table-dates {
    display: table;
    padding: 0;
    border: 0;
   /* width: 800px;*/
}

.table-footer div {
    border: 2px solid #bcc3c7;
    display: table-cell;
    font-weight: bold;
}

.table-footer {
    display: table;
}

.footer-text {
    width: 650px;
    text-align: right;
    padding: 0 5px;
    border-right: 1px;
    font-weight: bold;
}

.footer-time {
    width: 300px;
    text-align: center;
    padding: 0 50px;
    font-weight: bold;
}

.day-time-tr {
    font-weight: bold;
    background-color: #eef2f4;
    border-bottom: 2px solid #bcc3c7;
}

.day-time-tr td{
    padding: 10px;
}

.day-time {
    width: 100px;
    font-weight: bold;
}

.all-period-time {
    background-color: #eef2f4;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    line-height: 1.4;
}

.intro {
    width: 90%;
    max-width: 36rem;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    padding-top: .5em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    text-align: center;
}
.intro small {
    display: block;
    opacity: .5;
    font-style: italic;
    text-transform: none;
}

.info {
    margin: 0;
    padding: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: .5;
}
.info a {
    color: inherit;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #3498db;
    box-shadow: 0 0 10px 0 #466074;
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

@media print {
    .filter-block {
        display: none;
    }
}